.container {
	margin:0 auto;
	height: 640px;
	width: 640px;
	padding:0;
	border:2px solid black;
	vertical-align: top;
}

.collumn {
	background-color: white;
	display: inline-block;
	margin:0;
	padding: 0;
	border:0;
	float: left;

}

.row {
	display: inline-block;
	margin:0;
	padding:0;
	border:0;
	float: left;
}

